html{
background-color: pink;
}
ul a{
color: green;
text-decoration: none;
}
li{
display: inline-block;
height: 22px;
width: 100px;
padding: 12px;
text-align: center;
color: purple;
background-color: blue;
}
li:hover{
background-color: white;
}
h1{
margin-left: 200px;
color: purple;
}
